.center{
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.menu li {
    display: inline;
    padding: 30px;
}

.center a {
    color: black;
    text-decoration: none;
}

.menu li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.menu li a:hover{
    color: #E76F51;
    text-decoration: underline;
}

.tm-social{
    width: 50px;
    height: 50px;
}

.p-30{
    padding: 30px;
}

.p-20{
    padding: 20px;
}

.bk-color-contato{
    background-image: url("https://i.pinimg.com/originals/35/70/52/357052615e7ca277fbec628e9d6b9407.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.bk-color-viagens{
    background-image: url("https://i.pinimg.com/736x/8b/48/aa/8b48aa0a485e4905c171742ddb126665.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ml-50{
    margin-left: 50px;
}

.mr-150{
    margin-right: 150px;;
}

.mr-50{
    margin-right: 50px;;
}

.mb-50{
    margin-bottom: 50px;
}

.hw-d{
    height: 150px;
    width: 150px;
}

#avatar {
    height: 120px;
}
